@font-face {
  font-family: larsMedium;
  src: url("fonts/Lars-MediumCondensedWeb.woff");
}

@font-face {
  font-family: larsRegular;
  src: url("fonts/LarsTrial-RegularCondensed.otf");
}

body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

.header {
  background-image:
url('images/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height:100%;
  background-color:#444;
  background-repeat: no-repeat;
  background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* position: relative; */
    overflow:hidden;
  }


.signup {
  padding-top:20%;
  padding-bottom: 100px;
  overflow:visible;

}

.header img {
  overflow: hidden;
  /* display: block;
  position: static;
    margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
top: -40px; */
padding-bottom: 50px;
}

.image-container {
    left: 50%;
    position: absolute;
    overflow:hidden;
    top: 80%;
    transform: translate(-50%, -80%);

}
.header img {
    display: block;
width: 1500px;
}



.headerText{
  color:#fff;
}

.header2 {
  font-family: larsMedium;
  left: 50%;
  position:absolute;
  top: 80%;
  transform: translate(-47%, -45%);
  text-align: center;
  overflow: visible;
}


.info {
  background-image:
  url('images/background-inv.jpg');
  background-size: cover;
  background-position: center;
  /* position: relative; */
  /* height:100%; */
  background-color:#444;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


.info-text {
  margin-left: 7%;
  margin-right: 7%;
  font-family: larsRegular;
  color: #fff;
  font-size: 1.3rem;
  /* font-weight: 700; */
  /* margin-bottom: 20px; */
  text-align: center;
  padding-bottom: 10%;
  /* padding-top:50px; */
}


.sib-form {
  color:#000
}

.page-footer {
  margin-top:10%;
  top:400px;
  font-family: larsMedium;
  color: #fff
  display:block;
/* margin-right: 50%; */
}

.page-footer a {
  color:#fff;
}
