@font-face {
  font-family: myFirstFont;
  src: url("fonts/LarsTrial-RegularCondensed.otf");
}

body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image:
url('images/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header img {
  display: block;
  margin-left: auto;
margin-right: auto;
width: 50%;
padding-top: 8%;
}
.headerText{
  color:#fff;

}
.title{
  font-family: baker-signet-web, serif;
  /* font-style: normal; */
  font-weight: 400;
  /* font-size: 12rem; */
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.header2 {
  font-family: myFirstFont;
  left: 50%;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.info {
  /* margin: 4em auto; */
  padding: 1em;
  position: relative;
  background-image:url("images/background-inv.jpg");
   background-size: cover;
}
.info-text {
  font-family: myFirstFont;
  color: #ddd;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.info img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
