@font-face {
  font-family: myFirstFont;
  src: url("fonts/Lars-MediumCondensedWeb.woff");
}

@font-face {
  font-family: larsRegular;
  src: url("fonts/LarsTrial-RegularCondensed.otf");
}
body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image:
   url('images/logo-text.png'),
url('images/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height:100%;
  background-color:#0f0;
  background-repeat: no-repeat;
}

/* .header img {
  display: block;
  position: absolute;
  margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
top: -40px;
} */

.headerText{
  color:#fff;

}
.title{
  font-family: baker-signet-web, serif;
  /* font-style: normal; */
  font-weight: 400;
  /* font-size: 12rem; */
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.header2 {
  font-family: myFirstFont;
  left: 50%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.info {
  /* margin: 4em auto; */
  /* padding: 1em;
  position: relative; */
  background-image: url('images/background-inv.jpg');
  background-position:top,center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  /* position: relative; */
  /* height:100%; */
  background-color:#0f0;
  padding-bottom:100%;
}


.info-text {
  font-family: larsRegular;
  color: #fff;
  font-size: 1.3rem;
  /* font-weight: 700; */
  margin-bottom: 20px;
  text-align: center;
}


.sib-form {
  color:#000
}

.page-footer {
  margin-top:10%;
  top:400px;
  font-family: myFirstFont;
  color: #fff
}

.page-footer a {
  color:#fff;
}
